<div class="container">
  <form
    class="form-group mt-4"
    [formGroup]="reservationForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="d-flex align-items-center">
      <label class="col-md-2" for="checkInDate">Check In Date :</label>
      <input
        class="form-control w-full"
        type="date"
        id="checkInDate"
        formControlName="checkInDate"
      />
    </div>
    <p *ngIf="checkInDate?.invalid && checkInDate?.touched" class="text-danger">
      Check In Date is required
    </p>
    <div class="d-flex align-items-center">
      <label class="col-md-2" for="checkOutDate">Check Out Date :</label>
      <input
        type="date"
        class="form-control w-full"
        id="checkOutDate"
        formControlName="checkOutDate"
        [min]="minCheckOutDate"
      />
    </div>
    <p
      class="text-danger"
      *ngIf="
        checkOutDate?.invalid &&
        checkOutDate?.touched &&
        checkOutDate?.value == ''
      "
    >
      Check Out Date is required
    </p>

    <div class="d-flex align-items-center">
      <label class="col-md-2" for="guestName">Guest Name :</label>
      <input
        type="text"
        id="guestName"
        formControlName="guestName"
        class="form-control w-full"
      />
    </div>
    <p *ngIf="guestName?.invalid && guestName?.touched" class="text-danger">
      Guest Name is required
    </p>

    <div class="d-flex align-items-center">
      <label class="col-md-2" for="guestEmail">Guest Email :</label>
      <input
        type="text"
        id="guestEmail"
        formControlName="guestEmail"
        class="form-control w-full"
      />
    </div>
    <p *ngIf="guestEmail?.invalid && guestEmail?.touched">
      Guest Email is required
    </p>

    <div class="d-flex align-items-center">
      <label class="col-md-2" for="roomNumber">Room Number :</label>
      <input
        type="text"
        id="roomNumber"
        formControlName="roomNumber"
        class="form-control w-full"
      />
    </div>
    <p *ngIf="roomNumber?.invalid && roomNumber?.touched">
      Room Number is required
    </p>

    <button
      class="btn btn-primary col-2 mt-4"
      type="submit"
      [disabled]="!reservationForm.valid"
    >
      Submit
    </button>
  </form>
</div>
